[submodule "lib/liblistfile"]
	path = lib/liblistfile
	url = https://github.com/Nihlus/liblistfile.git
	branch = master
[submodule "lib/SlimTK"]
	path = lib/SlimTK
	url = https://github.com/WoWDevTools/SlimTK.git
	branch = master
[submodule "lib/libwarcraft"]
	path = lib/libwarcraft
	url = git@github.com:WowDevTools/libwarcraft.git
